.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.slide a img {
	margin: 0 50px;
}

.clear {
	clear: both;
}

.deck-container,
.deck-container .slide {
  background: #46483e;
  color: #fafafa;
  font: Verdana, Arial, sans-serif;
}

.deck-container .slide h1,
.deck-container .slide h2,
.deck-container .slide h3, 
.deck-container .slide b {
	text-shadow: none;
}

.deck-container .slide h2, 
.deck-container .slide b {
	color: #90c740;
}